<div class="login-wrap">
    <div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in"><a [routerLink] =  "['/login']" class="tab">Log In</a>
        <input id="tab-2" type="radio" name="tab" class="sign-up" checked><label for="tab-2" class="tab">Sign Up</label>
        <div class="login-form">
            <form (ngSubmit)="onSignUpSubmit()" [formGroup]="f">
                <div class="sign-up-htm">
                    <div class="group">
                        <label for="user" class="label">Email</label>
                        <input  id="user" 
                                type="email" 
                                class="input validate"
                                required
                                formControlName='email'
                                [(ngModel)]="signUpUser.email">
                    </div>
                    <app-error-label [control]="f.get('email')"></app-error-label>
                    <div class="group">
                        <label for="pass" class="label">Password</label>
                        <input  id="pass" 
                                type="password" 
                                class="input validate"
                                data-type="password"
                                required
                                formControlName='password'
                                [(ngModel)]="signUpUser.password">
                    </div>
                    <app-error-label [control]="f.get('password')"></app-error-label>
                    <div class="group">
                        <label for="pass" class="label">Repeat Password</label>
                        <input  id="pass" 
                                type="password" 
                                class="input validate"
                                data-type="password"
                                required
                                formControlName='passwordConfirmation'
                                [(ngModel)]="signUpUser.passwordConfirmation">
                    </div>
                    <app-error-label [control]="f.get('passwordConfirmation')"></app-error-label>
                    <span 
                        *ngIf="signUpUser.password !=    signUpUser.passwordConfirmation"> 
                            Passwords must match
                    </span>
                    <div class="group">
                        <input  type="submit" 
                                class="button" 
                                value="Sign Up"
                                [disabled]="!(f.valid) || !(signUpUser.password == signUpUser.passwordConfirmation)">
                    </div>
                    <app-error-label [control]="f"></app-error-label>

                    <div class="hr"></div>
                    <div class="foot-lnk">
                        <a [routerLink] =  "['/login']">Already Member?</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>