<div class="login-wrap">
    <div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Log In</label>
        <input id="tab-2" type="radio" name="tab" class="sign-up"><a [routerLink] =  "['/signup']" class="tab">Sign Up</a>
        <div class="login-form">
            <form (ngSubmit)="onSignInSubmit()" [formGroup]="f">
                <div *ngIf="loading">
                    <md-progress-bar mode="query"></md-progress-bar>
                </div>
                <div class="sign-in-htm">
                    <div class="group">
                        <label for="user" class="label">Email</label>
                        <input  id="user" 
                                type="email" 
                                class="input validate" 
                                required 
                                formControlName="email" 
                                [(ngModel)]="signInUser.email">
                    </div>
                    <app-error-label [control]="f.get('email')"></app-error-label>
                    <div class="group">
                        <label for="pass" class="label">Password</label>
                        <input  id="pass" 
                                type="password" 
                                class="input validate" 
                                data-type="password"
                                required
                                formControlName="password"
                                [(ngModel)]="signInUser.password">
                    </div>
                    <app-error-label [control]="f.get('password')"></app-error-label>
                    <div class="group">
                        <input id="check" type="checkbox" class="check" checked>
                        <label for="check"><span class="icon"></span> Keep me Signed in</label>
                    </div>
                    <div class="group">
                        <input  type="submit" 
                                class="button" 
                                value="Log In"
                                [disabled]="!(f.valid)"
                                [ngClass]="{'disabled':!(f.valid)}">
                    </div>
                    <app-error-label [control]="f"></app-error-label>

                    <div class="hr"></div>
                    <div class="foot-lnk">
                        <a [routerLink] =  "['/signup']">Register?</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>